body {
  background-color: darkgray;
}

div.meme-container {
  background-color: rgb(24, 72, 128);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
  color: rgb(185, 135, 29);
  text-align: left;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

div.format-container {
  width: 100%;
  position: relative;
}

div.meme-content {
  display: none;
  background-color: darkgrey;
  z-index: 1;
}

input {
  display: none;
  background-color: darkgrey;
  z-index: 10;
  cursor: pointer;
}

input:checked {
  display: block;
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

img.meme-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: auto;
}

input {
  opacity: 0;
  height: 200px;
  width: 100%;
}

div.meme-container:hover div.meme-content {
  display: block;
  width: auto;
  height: 200px;
}

div.meme-container:hover div.open-element {
  transform-origin: -17px 200px;
  transform: rotate(90deg);

  display: block;
  position: relative;
  top: -17px;
  left: 200px;
  height: 0;
}

div.meme-container:hover input {
  display: block;
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

input:checked+div {
  display: block;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(185, 135, 29);
  color:rgb(24, 72, 128);
  font-size: 65px;
}